<h2>Buscar <i class="fa fa-eye" aria-hidden="true"></i></h2>
<hr>
<ul class="list-group">
  <li routerLink=""  routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"  class="list-group-item">
    Buscar Pais <i class="fa fa-globe" aria-hidden="true"></i>
  </li>
  <li routerLink="region" routerLinkActive="active" class="list-group-item">
    Buscar Region <i class="fa fa-flag" aria-hidden="true"></i>
  </li>
  <li routerLink="capital" routerLinkActive="active" class="list-group-item">
    Buscar Capital <i class="fa fa-users" aria-hidden="true"></i>
  </li>
</ul>
